.buttonMenuSS{
  @include GradientButton;
  overflow: hidden;
  height: 24vh;
  display: flex;
  justify-content: flex-end;
  color: white;
  border-top-left-radius: 146px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 25px;
  margin: 10px 10px 0 10px;
  padding-right: 23px;
  font-family: 'Comfortaa', sans-serif;
        &.is-pressed{
            transform: scale(0.9);
            transform-origin: center;
            @include animationPress();
        }
        &.is-relased{
            @include animationRelased();
        }
        h2 {
          margin: 19px 0;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
          z-index: 3;
        }
        img{
          width: 20px;
          height: auto;
          z-index: 2;
        }
}
