.buttonMenuSG{
  background: black;
  height: 24vh;
  display: flex;
  justify-content: flex-end;
  color: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 80px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 23px;
  cursor: pointer;
}
