.container-elementList{
    width: 100vw;
    height: 10vh;
    background-color: $blue;
    .Pastry {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 18px 10px 18px 20px;
      }
}