$dark-blue: #263642;
$medium-blue: #4a6880;
$blue: #6f9cbf;
$light-blue: #94d1ff;
$orange: #fd8f31;
$yellow: #fec652;
$bordeaux: #601438;
$light-bordeaux: #bc2a77;
$black: #000000;
$white:#ffffff;
$primaryFont: Comfortaa, Sans-Serif;

@mixin GradientButton {
    background: rgba(90,144,176,1);
  background: -moz-linear-gradient(left, rgba(90,144,176,1) 0%, rgba(54,97,122,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,144,176,1)), color-stop(100%, rgba(54,97,122,1)));
  background: -webkit-linear-gradient(left, rgba(90,144,176,1) 0%, rgba(54,97,122,1) 100%);
  background: -o-linear-gradient(left, rgba(90,144,176,1) 0%, rgba(54,97,122,1) 100%);
  background: -ms-linear-gradient(left, rgba(90,144,176,1) 0%, rgba(54,97,122,1) 100%);
  background: linear-gradient(to right, rgba(90,144,176,1) 0%, rgba(54,97,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a90b0', endColorstr='#36617a', GradientType=1 );
}

@mixin animationPress {
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.645, 0.000, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.000, 0.645, 0.000, 1.320);
    -moz-transition: all 500ms cubic-bezier(0.000, 0.645, 0.000, 1.320);
    -o-transition: all 500ms cubic-bezier(0.000, 0.645, 0.000, 1.320);
    transition: all 500ms cubic-bezier(0.000, 0.645, 0.000, 1.320); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.000, 0.645, 0.000, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.000, 0.645, 0.000, 1.320);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.645, 0.000, 1.320);
    -o-transition-timing-function: cubic-bezier(0.000, 0.645, 0.000, 1.320);
    transition-timing-function: cubic-bezier(0.000, 0.645, 0.000, 1.320); /* custom */

}
@mixin animationRelased {
    -webkit-transition: all 500ms cubic-bezier(0.995, 0.000, 0.000, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.995, 0.000, 0.000, 1.650);
    -moz-transition: all 500ms cubic-bezier(0.995, 0.000, 0.000, 1.650);
    -o-transition: all 500ms cubic-bezier(0.995, 0.000, 0.000, 1.650);
    transition: all 500ms cubic-bezier(0.995, 0.000, 0.000, 1.650); /* custom */

    -webkit-transition-timing-function: cubic-bezier(0.995, 0.000, 0.000, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.995, 0.000, 0.000, 1.650);
    -moz-transition-timing-function: cubic-bezier(0.995, 0.000, 0.000, 1.650);
    -o-transition-timing-function: cubic-bezier(0.995, 0.000, 0.000, 1.650);
    transition-timing-function: cubic-bezier(0.995, 0.000, 0.000, 1.650); /* custom */
}
